# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

out/

.vscode/

.vscode/*.*

build/

build_debug.bat
build_release.bat
config.bat
run.cmd

build_debug.sh
build_release.sh
config.sh
shadertoy.sh
.DS_store